.name1 {
  /* color: blue; */
  color: red;
  font-size: 24px;
}

.name2 {
  color: green;
  font-size: 20px;
}

.name3 {
  color: purple;
  font-size: 18px;
}

.name4 {
  color: orange;
  font-size: 22px;
}
